n8n.json
{
    "name": "Indian FNO Stocks: Earnings + News",
    "nodes": [
      {
        "id": "1",
        "name": "FNO Stock List",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [250, 300],
        "parameters": {
          "keepOnlySet": true,
          "values": [
            {
              "name": "stocks",
              "value": ["RELIANCE", "TCS", "INFY", "HDFCBANK", "ICICIBANK"]
            }
          ]
        }
      },
      {
        "id": "2",
        "name": "NSE Earnings",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [550, 200],
        "parameters": {
          "url": "https://www.nseindia.com/api/corporate-announcements?index=equities",
          "method": "GET",
          "options": {
            "headers": {
              "user-agent": "Mozilla/5.0"
            }
          }
        }
      },
      {
        "id": "3",
        "name": "Filter NSE Earnings",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [850, 200],
        "parameters": {
          "functionCode": "const fno = $items(\"FNO Stock List\")[0].json.stocks;\nreturn items.filter(item => {\n  const data = item.json;\n  return fno.includes(data.symbol) && data.subject && data.subject.includes(\"Financial Results\");\n});"
        }
      },
      {
        "id": "4",
        "name": "Moneycontrol News",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [550, 400],
        "parameters": {
          "url": "https://www.moneycontrol.com/news/business/stocks-in-news-today/",
          "method": "GET",
          "options": {
            "headers": {
              "user-agent": "Mozilla/5.0"
            }
          }
        }
      },
      {
        "id": "5",
        "name": "Extract Headlines",
        "type": "n8n-nodes-base.htmlExtract",
        "typeVersion": 1,
        "position": [750, 400],
        "parameters": {
          "url": "={{$json[\"url\"]}}",
          "html": "={{$json[\"body\"]}}",
          "extractValues": {
            "values": [
              {
                "key": "title",
                "cssSelector": "h2 a"
              }
            ]
          }
        }
      },
      {
        "id": "6",
        "name": "Filter FNO News",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [950, 400],
        "parameters": {
          "functionCode": "const fno = $items(\"FNO Stock List\")[0].json.stocks;\nreturn items.filter(item => {\n  const title = item.json.title || \"\";\n  return fno.some(s => title.toUpperCase().includes(s));\n});"
        }
      },
      {
        "id": "7",
        "name": "Merge Results",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2,
        "position": [1200, 300],
        "parameters": {
          "mode": "combine"
        }
      },
      {
        "id": "8",
        "name": "Send Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [1450, 300],
        "parameters": {
          "chatId": "YOUR_CHAT_ID",
          "text": "Stocks in focus: {{$json[\"symbol\"] || $json[\"title\"]}}"
        },
        "credentials": {
          "telegramApi": "Your Telegram Credential"
        }
      }
    ],
    "connections": {
      "FNO Stock List": {
        "main": [
          [
            { "node": "NSE Earnings", "type": "main", "index": 0 },
            { "node": "Moneycontrol News", "type": "main", "index": 0 }
          ]
        ]
      },
      "NSE Earnings": {
        "main": [[{ "node": "Filter NSE Earnings", "type": "main", "index": 0 }]]
      },
      "Filter NSE Earnings": {
        "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]]
      },
      "Moneycontrol News": {
        "main": [[{ "node": "Extract Headlines", "type": "main", "index": 0 }]]
      },
      "Extract Headlines": {
        "main": [[{ "node": "Filter FNO News", "type": "main", "index": 0 }]]
      },
      "Filter FNO News": {
        "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]]
      },
      "Merge Results": {
        "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]]
      }
    }
  }
  